@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --transition: .2s cubic-bezier(.51,.92,.24,1.15);
}

* {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

::-moz-selection {
    background: #ef5146;
    color: white;
}

::selection {
    background: #ef5146;
    color: white;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 30px;
}

.nocopy, br {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body, html {
    margin: 0;
    background: #131519;
    width: 100%;
    height: 100%;
}

body {
    padding: 20px;
}

.container {
    width: 1080px;
    margin: 0 auto;
    height: 100%;
    text-align: center;
    transition: var(--transition);
}

.languages {
    display: flex;
    margin: 0 auto;
    top: 20px;
    position: relative;
    width: 300px;
    box-shadow: inset 0 -120px 120px -120px rgba(0,0,0,.5), 0 10px 20px 10px rgba(0,0,0,.2);
    border-radius: 20px;
    background: #23262E;
    padding: 20px;
    height: 60px;
}

select {
    background: transparent;
    color: white;
    outline: none;
    border: none;
    width: 50%;
    text-align: center;
    font-size: 20px;
    appearance: none;
    transition: var(--transition);
    cursor: pointer;
}

select:focus-within {
    color: gray;
}

select::-ms-expand {
    display: none;
}

.textarea-div {
    float: left;
    border: none;
    border-radius: 20px;
    background: #23262E;
    padding: 20px 30px;
    margin-bottom: 30px;
    width: 100%;
    height: auto;
    box-shadow: inset 0 -120px 120px -120px rgba(0,0,0,.5), 0 10px 20px 10px rgba(0,0,0,.2);
    transition: var(--transition);
}

.textarea-div:hover {
    border-radius: 27px;
}

.flag {
    width: 40px;
    height: 100%;
    float: left;
    text-align: left;
}

.flag > img {
    border-radius: 50%;
    margin-top: 6px;
}

textarea {
    width: Calc(100% - 40px);
    height: 230px;
    color: white;
    background: transparent;
    font-size: 24px;
    resize: none;
    outline: 0;
    border: none;
    margin-top: 5px;
}

.text-buttons {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.text-buttons-container {
    margin: 0 20px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    color: white;
    transition: var(--transition);
}

.text-buttons-container:hover {
    opacity: .8;
}

.text-buttons > .text-buttons-container > svg {
    width: 40px;
    fill: white;
    margin-bottom: 5px;
}

input[type=submit] {
    font-size: 20px;
    box-shadow: inset 0 -120px 120px -120px rgba(0,0,0,.5), 0 15px 20px 10px rgba(0,0,0,.2), 0 5px black;
    border: 0;
    background: #ef5146;
    color: white;
    padding: 20px 60px;
    border-radius: 50px;
    cursor: pointer;
    transition: var(--transition);
    margin-bottom: 50px;
}

input[type=submit]:active {
    margin-top: 5px;
    box-shadow: inset 0 -120px 120px -120px rgba(0,0,0,.5), 0 15px 20px 10px rgba(0,0,0,.1), 0 0 black;
}

@media screen and (max-width: 1100px) {
    .container {
        width: 100%;
    }
    .languages {
        padding: 20px;
    }
    textarea {
        font-size: 22px;
    }
    .text-buttons > .text-buttons-container > svg {
        width: 32px;
    }
}

@media screen and (max-width: 480px) {
    select {
        font-size: 15px;
    }
    .languages {
        padding: 10px;
        top: 0;
        margin-bottom: 20px;
        width: 100%;
    }
    textarea {
        font-size: 20px;
    }
    .text-buttons-container > svg {
        width: 10px;
    }
    .text-buttons-container {
        margin: 0 5px;
        font-size: 10px;
    }
    input[type=submit] {
        padding: 20px 0px;
        width: 100%;
    }
}